@counter-style smileys {
  system: cyclic;
  symbols: "😔" "😞" "🙁" "😕" "🙂" "😀" "😄" "😁" "😊"
  ;
  suffix: ""
}
/* 
  "😞" "😔" "😒" "😏" "😌" "🙂" "😀" "😃" "😆" "😄" "😃" "🙃" "🥰" "😇"  */
:root {
  --white: #fff;
  --green: #060;
  --hover: #080;
  --border: #030;
  --dark: #222;
  --black: #000;
  --gap: 8px;
  --edge: 3px;
  --size: 40px;
  --line: calc(1.15 * var(--size));
  --smile: 145px;
  --top: -15px;
  --duration: 1s;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size);

  background-color: var(--dark);

  counter-set: mood 1;
}

main {
  position: relative;
  width: 300px;
  height: 150px;
  border: 1px solid var(--white);
  border-radius: var(--gap);
  box-sizing: border-box;
}


/* BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS / BUTTONS */


.button {
  border: 1px outset var(--border);
  border-radius: var(--gap);
  width: var(--size);
  height: var(--size);
  padding: var(--gap);
}

.button:not(.disabled):hover {
  background-color: var(--hover);
}

.button:not(.disabled):hover:active {
  border-style: inset;
  background-color: var(--black);
}

div.mood {
  position: relative;
  top: var(--top);
  font-size: var(--smile);
  height: var(--smile);
  text-align: center;
  pointer-events: none;
}
div.mood::after {
  content: counter(mood, smileys);
}

input {
  position: absolute;
  left: -999vw;
}

div.button,
label { 
  position: absolute;
  left: var(--edge);
  bottom: var(--edge);
  background-color: var(--green);
  line-height: var(--line);
}

label:last-of-type { 
  right: var(--edge);
  left: auto;
}

#rain:checked {
  animation-name: rain;
  animation-duration: var(--duration);
  animation-timing-function: steps(10);
  animation-fill-mode: forwards;
}

#sun:checked {
  animation-name: sun;
  animation-duration: var(--duration);
  animation-timing-function: steps(10);
  animation-fill-mode: forwards;
}

#rain:checked ~ .disabled,
#sun:checked ~ .disabled{
  display: none
}

div.disabled,
input:checked + label {
  background-color: var(--black) !important;
  border-style: inset;
}

@keyframes sun {
  0% {
    counter-set: mood 1
  }
  10% {
    counter-set: mood 2
  }
  20% {
    counter-set: mood 3
  }
  30% {
    counter-set: mood 4
  }
  40% {
    counter-set: mood 5
  }
  50% {
    counter-set: mood 6
  }
  60% {
    counter-set: mood 7
  }
  70% {
    counter-set: mood 8
  }
  80% {
    counter-set: mood 9
  }
  90% {
    counter-set: mood 9
  }
  100% {
    counter-set: mood 9
  }
}

@keyframes rain {
  0% {
    counter-set: mood 9
  }
  10% {
    counter-set: mood 9
  }
  20% {
    counter-set: mood 8
  }
  30% {
    counter-set: mood 7
  }
  40% {
    counter-set: mood 6
  }
  50% {
    counter-set: mood 5
  }
  60% {
    counter-set: mood 4
  }
  70% {
    counter-set: mood 3
  }
  80% {
    counter-set: mood 2
  }
  90% {
    counter-set: mood 1
  }
  100% {
    counter-set: mood 1
  }
}